.homeContainer{
  background-image: url(../home.webp);
  background-size: cover;
  object-fit: contain;
   background-repeat: no-repeat;
   height:100vh;

}
.home-page-container h3{
   text-align: center;
}
.home_page_items{
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.home-page_item{
   border:1px solid black; 
   width:  70%;
   height: 20vh;
   margin: 10px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

